.description {
  padding-top: 55px;
  @media (max-width: 1200px) {
    & {
      padding-top: 20px;
    }
  }
  @media (max-width: 768px) {
    & {
      display: none;
    }
  }
  .description-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .about-milk {
      display: flex;
      align-items: flex-end;
      gap: 30px;
      @media (max-width: 1200px) {
        & {
          gap: 0px;
        }
      }
      &__img {
        @media (max-width: 768px) {
          & {
            width: 124px;
            height: 126px;
          }
        }
      }
      .about-milk-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        @media (max-width: 1200px) {
          & {
            gap: 10px;
          }
        }
        &__item {
          color: rgb(255, 255, 255);
          font-family: 'DM Sans';
          font-size: 14px;
          font-weight: 400;
          line-height: 140%;
          width: 200px;
          @media (max-width: 1200px) {
            & {
              color: rgb(255, 255, 255);
              font-family: 'DM Sans';
              font-size: 8px;
              font-weight: 400;
              line-height: 150%;
              width: 114px;
            }
          }
        }
      }
    }
    .description-content__women {
      z-index: 0;
      position: absolute;
      right: 0;
      top: 4px;
      @media (max-width: 1200px) {
        & {
          width: 168px;
          height: 133px;
          top: 88px;
          right: -22.5px;
        }
      }
    }
  }
}
