<div class="container shakes-content" data-animate="fadeInLeft">
  <h5 class="shakes-content__podtitle">100% natural</h5>
  <h2 class="shakes-content__title">products</h2>
  <div class="cards">
    <div class="card">
      <picture class="card__img">
        <source
          srcset="
            /img/strawberry-icecream.webp    1x,
            /img/strawberry-icecream@2x.webp 2x
          "
        />
        <img
          src="/img/strawberry-icecream.webp"
          alt="strawberry-icecream"
          loading="lazy"
        />
      </picture>
      <div class="card-content">
        <h2 class="card-content__title">
          ice cream <br /><span class="card-content__upd">...</span>
        </h2>
        <p class="card-content__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <div class="svg-background">
          <svg class="icon icon-arrow-right">
            <use xlink:href="/icomoon/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="card">
      <picture class="card__img">
        <source srcset="/img/ice-coffee.webp 1x, /img/ice-coffee@2x.webp 2x" />
        <img src="/img/ice-coffee.webp" alt="ice-coffee" loading="lazy" />
      </picture>
      <div class="card-content">
        <h2 class="card-content__title">
          ice coffee <br /><span class="card-content__upd">...</span>
        </h2>
        <p class="card-content__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <div class="svg-background">
          <svg class="icon icon-arrow-right">
            <use xlink:href="/icomoon/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="card">
      <picture class="card__img">
        <source srcset="/img/milkshakes.webp 1x, /img/milkshakes@2x.webp 2x" />
        <img src="/img/milkshakes.webp" alt="milkshakes" loading="lazy" />
      </picture>
      <div class="card-content">
        <h2 class="card-content__title">
          milkshakes <br /><span class="card-content__upd">...</span>
        </h2>
        <p class="card-content__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <div class="svg-background">
          <svg class="icon icon-arrow-right">
            <use xlink:href="/icomoon/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
