<div class="container description-content" data-animate="fadeIn">
  <div class="about-milk">
    <picture class="about-milk__img">
      <source srcset="/img/milk.webp 1x, /img/milk@2x.webp 2x" />
      <img src="/img/milk.webp" alt="milk" />
    </picture>
    <div class="about-milk-text">
      <p class="about-milk-text__item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <div class="svg-background">
        <svg class="icon icon-arrow-right">
          <use xlink:href="/icomoon/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
  <picture class="description-content__women">
    <source srcset="/img/woman.webp 1x, /img/woman@2x.webp 2x" />
    <img src="/img/woman.webp" alt="woman" />
  </picture>
</div>
