<div class="container made-content" data-animate="fadeIn">
  <h5 class="made-content__podtitle">tradition and love</h5>
  <h2 class="made-content__title">how it’s made?</h2>
  <div class="how-made">
    <picture class="card__img">
      <source srcset="/img/cow.webp 1x, /img/cow@2x.webp 2x" />
      <img src="/img/cow.webp" alt="cow" loading="lazy" />
    </picture>
    <div class="how-made-content">
      <h2 class="how-made-content__title">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </h2>
      <p class="how-made-content__item">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="how-made-content__button">
        Read more
        <svg class="icon icon-arrow">
          <use xlink:href="/icomoon/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="milks-cards">
    <div class="milk-card">
      <picture class="milk-card__img">
        <source srcset="/img/water.webp 1x, /img/water@2x.webp 2x" />
        <img
          src="/img/water.webp"
          alt="water"
          class="milk-card--picture"
          loading="lazy"
        />
      </picture>
      <h2 class="milk-card__title">721</h2>
      <p class="milk-card__item">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <div class="milk-card">
      <picture class="milk-card__img">
        <source srcset="/img/fructs.webp 1x, /img/fructs@2x.webp 2x" />
        <img src="/img/fructs.webp" alt="fructs" loading="lazy" />
      </picture>
      <h2 class="milk-card__title">16kg</h2>
      <p class="milk-card__item">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <div class="milk-card">
      <picture class="milk-card__img">
        <source srcset="/img/love.webp 1x, /img/love@2x.webp 2x" />
        <img src="/img/love.webp" alt="love" loading="lazy" />
      </picture>
      <h2 class="milk-card__title">84</h2>
      <p class="milk-card__item">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <picture class="pictures">
      <source srcset="/img/pictures.webp 1x, /img/pictures@2x.webp 2x" />
      <img src="/img/pictures.webp" alt="pictures" loading="lazy" />
    </picture>
  </div>
</div>
