header {
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: #ffb8ca;
}
@media (max-width: 1200px) {
  header {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  header {
    padding-top: 5px;
    padding-bottom: 0px;
  }
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content .nav-bar {
  display: flex;
  gap: 35px;
  z-index: 2;
  align-items: center;
}
@media (max-width: 1200px) {
  header .header-content .nav-bar {
    display: none;
  }
}
header .header-content .nav-bar__item {
  color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  transition: color 0.3s ease;
}
header .header-content .nav-bar__item:hover {
  color: rgb(212, 20, 67);
}
header .header-content .svg-button {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 2;
}
header .header-content .svg-button .icon-burger {
  display: none;
}
@media (max-width: 1200px) {
  header .header-content .svg-button .icon-burger {
    display: block;
  }
}
header .header-content .svg-button__button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(212, 20, 67);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  padding: 10px 40px;
  border-radius: 22px;
  background: rgb(255, 255, 255);
  border: none;
}
@media (max-width: 1200px) {
  header .header-content .svg-button__button {
    color: rgb(212, 20, 67);
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
  }
}
@media (max-width: 768px) {
  header .header-content .svg-button__button {
    display: none;
  }
}

.footer {
  background-color: rgb(255, 245, 246);
  padding-top: 165px;
  padding-bottom: 10px;
}
@media (max-width: 1200px) {
  .footer {
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-top: 115px;
    padding-bottom: 25px;
  }
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
@media (max-width: 1200px) {
  .footer .footer-content {
    gap: 0px;
  }
}
.footer .footer-content__item {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  color: rgb(144, 126, 130);
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 700;
  line-height: 186%;
  padding-top: 10px;
  border-top: 1px solid rgb(225, 225, 225);
  width: 100%;
}
@media (max-width: 1200px) {
  .footer .footer-content__item {
    margin-top: 90px;
    padding-top: 30px;
    width: 768px;
    color: rgb(144, 126, 130);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .footer .footer-content__item {
    display: none;
  }
}
.footer .footer-content .footer-main {
  display: flex;
  gap: 195px;
  align-items: center;
}
@media (max-width: 1200px) {
  .footer .footer-content .footer-main {
    gap: 0px;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .footer .footer-content .footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
}
.footer .footer-content .footer-main .footer-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.footer .footer-content .footer-main .footer-title__podtitle {
  color: rgb(255, 165, 186);
  font-family: 'Titan One';
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .footer .footer-content .footer-main .footer-title__podtitle {
    color: rgb(255, 165, 186);
    font-family: 'Titan One';
    font-size: 26px;
    font-weight: 400;
    width: 340px;
  }
}
@media (max-width: 768px) {
  .footer .footer-content .footer-main .footer-title__podtitle {
    color: rgb(255, 165, 186);
    font-family: 'Titan One';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    width: 232px;
  }
}
.footer .footer-content .footer-main .footer-title__title {
  color: rgb(212, 20, 67);
  font-family: 'Titan One';
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .footer .footer-content .footer-main .footer-title__title {
    color: rgb(212, 20, 67);
    font-family: 'Titan One';
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    width: 340px;
  }
}
@media (max-width: 768px) {
  .footer .footer-content .footer-main .footer-title__title {
    color: rgb(212, 20, 67);
    font-family: 'Titan One';
    font-size: 34px;
    font-weight: 400;
    line-height: 39px;
    width: 200px;
  }
}
.footer .footer-content .footer-main .footer-help {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}
@media (max-width: 1200px) {
  .footer .footer-content .footer-main .footer-help {
    gap: 45px;
  }
}
.footer .footer-content .footer-main .footer-help__title {
  color: black;
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 186%;
}
@media (max-width: 1200px) {
  .footer .footer-content .footer-main .footer-help__title {
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 186%;
  }
}
@media (max-width: 768px) {
  .footer .footer-content .footer-main .footer-help__title {
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 700;
  }
}
.footer .footer-content .footer-main .footer-help__title--link {
  color: rgb(212, 20, 67);
}
.footer .footer-content .footer-main .footer-help .socials {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (max-width: 1200px) {
  .footer .footer-content .footer-main .footer-help .socials {
    gap: 30px;
  }
}
.footer .footer-content .footer-main .footer-help .socials .soc {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(254, 165, 187);
  padding: 10px;
  border-radius: 50%;
}

.hero .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 145px;
  position: relative;
}
@media (max-width: 1200px) {
  .hero .hero-content {
    padding-top: 15px;
  }
}
@media (max-width: 768px) {
  .hero .hero-content {
    padding-top: 30px;
    padding-bottom: 160px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
.hero .hero-content .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
@media (max-width: 1200px) {
  .hero .hero-content .description {
    gap: 20px;
    z-index: 1;
  }
}
.hero .hero-content .description__title {
  color: white;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 38px;
  text-transform: uppercase;
  z-index: 2;
  width: 277px;
}
@media (max-width: 1200px) {
  .hero .hero-content .description__title {
    font-size: 22px;
    width: 162px;
  }
}
@media (max-width: 768px) {
  .hero .hero-content .description__title {
    font-size: 26px;
    width: 218px;
  }
}
.hero .hero-content .description__title--span {
  color: rgb(212, 20, 67);
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 58px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .hero .hero-content .description__title--span {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .hero .hero-content .description__title--span {
    font-size: 48px;
  }
}
.hero .hero-content .description .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 2;
}
.hero .hero-content .description .buttons__item {
  color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: rgb(212, 20, 67);
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}
@media (max-width: 1200px) {
  .hero .hero-content .description .buttons__item {
    color: rgb(255, 255, 255);
    font-family: 'DM Sans';
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
  }
}
.hero .hero-content .description .buttons__item:hover {
  color: rgb(212, 20, 67);
  background-color: white;
}
.hero .hero-content .background-cream {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 395px;
  top: -30px;
  background: rgb(255, 165, 186);
  width: 670px;
  height: 670px;
  border-radius: 50%;
}
@media (max-width: 1200px) {
  .hero .hero-content .background-cream {
    width: 375px;
    height: 375px;
    left: 307px;
    top: 0;
    z-index: 0;
  }
}
@media (max-width: 768px) {
  .hero .hero-content .background-cream {
    left: 35px;
    width: 320px;
    height: 344px;
    right: 0;
    top: 10px;
    z-index: 0;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .hero .hero-content .background-cream {
    width: auto;
  }
}
@media (max-width: 768px) {
  .hero .hero-content .background-cream__item {
    width: 171px;
    height: 410px;
    margin-top: auto;
  }
}
.hero .hero-content .background-cream__item .cream-img {
  width: 306px;
  height: 705px;
  margin-top: 115px;
}
@media (max-width: 1200px) {
  .hero .hero-content .background-cream__item .cream-img {
    width: 175px;
    height: 410px;
    margin-top: 55px;
  }
}
@media (max-width: 768px) {
  .hero .hero-content .background-cream__item .cream-img {
    width: 171px;
    height: 410px;
    margin-top: auto;
  }
}
.hero .hero-content .numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .hero .hero-content .numbers {
    display: none;
  }
}
.hero .hero-content .numbers .number {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}
.hero .hero-content .numbers .number__title {
  color: rgb(212, 20, 67);
  font-family: 'Titan One';
  font-size: 46px;
  font-weight: 400;
  line-height: 53px;
  text-transform: uppercase;
  z-index: 2;
}
@media (max-width: 1200px) {
  .hero .hero-content .numbers .number__title {
    color: rgb(212, 20, 67);
    font-family: 'Titan One';
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    z-index: 1;
  }
}
.hero .hero-content .numbers .number__item {
  color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media (max-width: 1200px) {
  .hero .hero-content .numbers .number__item {
    color: rgb(255, 255, 255);
    font-family: 'DM Sans';
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
  }
}
.hero .hero-content .numbers .number .background-number {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 35px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .hero .hero-content .numbers .number .background-number {
    left: 25px;
    width: 16px;
    height: 16px;
  }
}
.hero .hero-content .numbers .number .background-number--two {
  left: 45px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
@media (max-width: 1200px) {
  .hero .hero-content .numbers .number .background-number--two {
    left: 30px;
    width: 16px;
    height: 16px;
  }
}

.description {
  padding-top: 55px;
}
@media (max-width: 1200px) {
  .description {
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  .description {
    display: none;
  }
}
.description .description-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.description .description-content .about-milk {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
@media (max-width: 1200px) {
  .description .description-content .about-milk {
    gap: 0px;
  }
}
@media (max-width: 768px) {
  .description .description-content .about-milk__img {
    width: 124px;
    height: 126px;
  }
}
.description .description-content .about-milk .about-milk-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 1200px) {
  .description .description-content .about-milk .about-milk-text {
    gap: 10px;
  }
}
.description .description-content .about-milk .about-milk-text__item {
  color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  width: 200px;
}
@media (max-width: 1200px) {
  .description .description-content .about-milk .about-milk-text__item {
    color: rgb(255, 255, 255);
    font-family: 'DM Sans';
    font-size: 8px;
    font-weight: 400;
    line-height: 150%;
    width: 114px;
  }
}
.description .description-content .description-content__women {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 4px;
}
@media (max-width: 1200px) {
  .description .description-content .description-content__women {
    width: 168px;
    height: 133px;
    top: 88px;
    right: -22.5px;
  }
}

.shakes {
  padding-top: 130px;
  padding-bottom: 120px;
}
@media (max-width: 1200px) {
  .shakes {
    padding-top: 120px;
    padding-bottom: 110px;
  }
}
@media (max-width: 768px) {
  .shakes {
    padding-bottom: 100px;
  }
}
.shakes .shakes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shakes .shakes-content__podtitle {
  color: rgb(255, 165, 186);
  font-family: 'Titan One';
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .shakes .shakes-content__podtitle {
    color: rgb(255, 165, 186);
    font-family: 'Titan One';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
  }
}
@media (max-width: 768px) {
  .shakes .shakes-content__podtitle {
    color: rgb(255, 165, 186);
    font-family: 'Titan One';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
  }
}
.shakes .shakes-content__title {
  color: rgb(212, 20, 67);
  font-family: 'Titan One';
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  text-transform: uppercase;
  margin-top: 15px;
}
@media (max-width: 1200px) {
  .shakes .shakes-content__title {
    color: rgb(212, 20, 67);
    font-family: 'Titan One';
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    text-transform: uppercase;
  }
}
@media (max-width: 768px) {
  .shakes .shakes-content__title {
    color: rgb(212, 20, 67);
    font-family: 'Titan One';
    font-size: 34px;
    font-weight: 400;
    line-height: 39px;
    text-transform: uppercase;
  }
}
.shakes .shakes-content .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 260px;
}
@media (max-width: 1200px) {
  .shakes .shakes-content .cards {
    padding-top: 200px;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .shakes .shakes-content .cards {
    flex-wrap: wrap;
    gap: 170px;
  }
}
.shakes .shakes-content .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background-color: rgb(255, 184, 202);
  padding: 165px 45px 50px 45px;
  border: none;
  position: relative;
}
@media (max-width: 1200px) {
  .shakes .shakes-content .cards .card {
    padding: 80px 10px 40px 10px;
  }
}
.shakes .shakes-content .cards .card:nth-child(2) {
  background-color: rgb(240, 209, 165);
}
.shakes .shakes-content .cards .card:nth-child(3) {
  background-color: rgb(194, 226, 151);
}
.shakes .shakes-content .cards .card__img {
  position: absolute;
  bottom: 390px;
}
@media (max-width: 1200px) {
  .shakes .shakes-content .cards .card__img {
    width: 220px;
    height: 226px;
    top: -150px;
  }
}
.shakes .shakes-content .cards .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.shakes .shakes-content .cards .card .card-content__title {
  color: rgb(255, 255, 255);
  font-family: 'Titan One';
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1200px) {
  .shakes .shakes-content .cards .card .card-content__title {
    color: rgb(255, 255, 255);
    font-family: 'Titan One';
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
  }
}
.shakes .shakes-content .cards .card .card-content__upd {
  color: rgb(255, 255, 255);
  font-family: 'Titan One';
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .shakes .shakes-content .cards .card .card-content__upd {
    color: rgb(255, 255, 255);
    font-family: 'Titan One';
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
  }
}
.shakes .shakes-content .cards .card .card-content__item {
  color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 176%;
  text-align: center;
  width: 240px;
}
@media (max-width: 1200px) {
  .shakes .shakes-content .cards .card .card-content__item {
    color: rgb(255, 255, 255);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 176%;
    width: 200px;
  }
}
.shakes .shakes-content .cards .card .card-content .svg-background {
  margin-top: 25px;
}
@media (max-width: 1200px) {
  .shakes .shakes-content .cards .card .card-content .svg-background {
    margin-top: 40px;
    height: 40px;
    width: 40px;
  }
}

.made {
  background:
    url('../img/milkground.png') no-repeat center/contain,
    rgb(255, 245, 246);
  padding-top: 125px;
  padding-bottom: 310px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .made {
    background:
      url('../img/milkground@2x.png') no-repeat center/contain,
      rgb(255, 245, 246);
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 1200px),
  (min-resolution: 192dpi) and (max-width: 1200px),
  (min-resolution: 2dppx) and (max-width: 1200px) {
  .made {
    padding-top: 130px;
    padding-bottom: 250px;
    background: rgb(255, 245, 246);
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 768px),
  (min-resolution: 192dpi) and (max-width: 768px),
  (min-resolution: 2dppx) and (max-width: 768px) {
  .made {
    padding-top: 125px;
    padding-bottom: 145px;
    background:
      url('../img/milkground.png') no-repeat center/contain,
      rgb(255, 245, 246);
  }
}
.made .made-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.made .made-content .pictures {
  position: absolute;
  top: 115.8%;
  z-index: 2;
  width: 1280px;
}
@media (max-width: 1200px) {
  .made .made-content .pictures {
    top: 115.7%;
    width: 100%;
    z-index: 1;
  }
}
@media (max-width: 992px) {
  .made .made-content .pictures {
    top: 116.5%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .made .made-content .pictures {
    top: 105.1%;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .made .made-content .pictures {
    top: 106.6%;
    width: auto;
  }
}
.made .made-content__podtitle {
  color: rgb(255, 165, 186);
  font-family: 'Titan One';
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .made .made-content__podtitle {
    color: rgb(255, 165, 186);
    font-family: 'Titan One';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .made .made-content__podtitle {
    color: rgb(255, 165, 186);
    font-family: 'Titan One';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.made .made-content__title {
  color: rgb(212, 20, 67);
  font-family: 'Titan One';
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .made .made-content__title {
    color: rgb(212, 20, 67);
    font-family: 'Titan One';
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
  }
}
@media (max-width: 768px) {
  .made .made-content__title {
    color: rgb(212, 20, 67);
    font-family: 'Titan One';
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    line-height: 40px;
  }
}
.made .made-content .how-made {
  display: flex;
  align-items: center;
  gap: 75px;
}
@media (max-width: 1200px) {
  .made .made-content .how-made {
    gap: 15px;
    padding-top: 150px;
  }
}
@media (max-width: 768px) {
  .made .made-content .how-made {
    flex-wrap: wrap;
    gap: 45px;
    padding-top: 25px;
  }
}
@media (max-width: 1200px) {
  .made .made-content .how-made .card__img {
    width: 340px;
    height: 340px;
  }
}
@media (max-width: 768px) {
  .made .made-content .how-made .card__img {
    width: 280px;
    height: 279px;
  }
}
.made .made-content .how-made .how-made-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}
@media (max-width: 1200px) {
  .made .made-content .how-made .how-made-content {
    gap: 45px;
  }
}
@media (max-width: 768px) {
  .made .made-content .how-made .how-made-content {
    align-items: center;
  }
}
.made .made-content .how-made .how-made-content__title {
  color: rgb(0, 0, 0);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 176%;
  width: 463px;
}
@media (max-width: 1200px) {
  .made .made-content .how-made .how-made-content__title {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
    width: 340px;
  }
}
@media (max-width: 768px) {
  .made .made-content .how-made .how-made-content__title {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 500;
    width: 220px;
  }
}
.made .made-content .how-made .how-made-content__item {
  color: rgb(144, 126, 130);
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 500;
  line-height: 194%;
  width: 463px;
}
@media (max-width: 1200px) {
  .made .made-content .how-made .how-made-content__item {
    color: rgb(144, 126, 130);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
    width: 340px;
  }
}
@media (max-width: 768px) {
  .made .made-content .how-made .how-made-content__item {
    color: rgb(144, 126, 130);
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 500;
    width: 220px;
  }
}
.made .made-content .how-made .how-made-content__button {
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgb(212, 20, 67);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  border-radius: 22px;
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 15px 45px;
}
@media (max-width: 1200px) {
  .made .made-content .how-made .how-made-content__button {
    color: rgb(212, 20, 67);
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 700;
    padding: 15px 40px;
  }
}
.made .made-content .milks-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
}
@media (max-width: 1200px) {
  .made .made-content .milks-cards {
    padding-top: 65px;
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .made .made-content .milks-cards {
    flex-wrap: wrap;
    padding-top: 40px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.made .made-content .milks-cards .milk-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.made .made-content .milks-cards .milk-card__img {
  padding-bottom: 25px;
}
@media (max-width: 768px) {
  .made .made-content .milks-cards .milk-card__img {
    padding-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .made .made-content .milks-cards .milk-card__img .milk-card--picture {
    width: 33px;
    height: 50px;
  }
}
.made .made-content .milks-cards .milk-card__title {
  color: rgb(212, 20, 67);
  font-family: 'Titan One';
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .made .made-content .milks-cards .milk-card__title {
    color: rgb(212, 20, 67);
    font-family: 'Titan One';
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    text-transform: uppercase;
  }
}
@media (max-width: 768px) {
  .made .made-content .milks-cards .milk-card__title {
    color: rgb(212, 20, 67);
    font-family: 'Titan One';
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.made .made-content .milks-cards .milk-card__title:nth-child(2) {
  text-transform: none;
}
.made .made-content .milks-cards .milk-card__item {
  color: rgb(0, 0, 0);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 176%;
  width: 330px;
}
@media (max-width: 1200px) {
  .made .made-content .milks-cards .milk-card__item {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 700;
    width: 180px;
  }
}
@media (max-width: 768px) {
  .made .made-content .milks-cards .milk-card__item {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 700;
    width: 230px;
  }
}

.rewiews {
  padding-top: 390px;
  padding-bottom: 135px;
}
@media (max-width: 1200px) {
  .rewiews {
    padding-top: 280px;
    padding-bottom: 200px;
  }
}
@media (max-width: 768px) {
  .rewiews {
    padding-top: 155px;
    padding-bottom: 170px;
  }
}
.rewiews .box-carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media (max-width: 1200px) {
  .rewiews .box-carousel-content {
    gap: 20px;
  }
}
.rewiews .rewiews-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media (max-width: 1200px) {
  .rewiews .rewiews-content {
    gap: 20px;
  }
}
.rewiews .rewiews-content__title {
  color: rgb(0, 0, 0);
  font-family: 'DM Sans';
  font-size: 20px;
  font-weight: 500;
  line-height: 186%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .rewiews .rewiews-content__title {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
  }
}
.rewiews .rewiews-content .rewiever-box {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 250, 250);
  padding: 30px 50px;
  z-index: 0;
}
.rewiews .rewiews-content .rewiever-box .desktop-version {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 250, 250);
  padding: 30px 50px;
}
@media (max-width: 1200px) {
  .rewiews .rewiews-content .rewiever-box .desktop-version {
    display: none;
  }
}
.rewiews .rewiews-content .rewiever-box .table-version {
  display: none;
}
@media (max-width: 1200px) {
  .rewiews .rewiews-content .rewiever-box .table-version {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .rewiews .rewiews-content .rewiever-box .table-version {
    display: none;
  }
}
.rewiews .rewiews-content .rewiever-box .mobile-version {
  display: none;
}
@media (max-width: 768px) {
  .rewiews .rewiews-content .rewiever-box .mobile-version {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .rewiews .rewiews-content .rewiever-box {
    padding: 30px 40px;
  }
}
.rewiews .rewiews-content .rewiever-box__img {
  position: absolute;
  z-index: 1;
  left: 55px;
  top: 45px;
}
@media (max-width: 1200px) {
  .rewiews .rewiews-content .rewiever-box__img {
    left: 10px;
    top: 15px;
  }
}
@media (max-width: 768px) {
  .rewiews .rewiews-content .rewiever-box__img {
    left: 55px;
    top: 15px;
  }
}
.rewiews .rewiews-content .rewiever-box__item {
  color: rgb(0, 0, 0);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  z-index: 2;
  border-bottom: 1px solid rgb(225, 225, 225);
  text-align: center;
}
@media (max-width: 1200px) {
  .rewiews .rewiews-content .rewiever-box__item {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 700;
    width: 460px;
  }
}
@media (max-width: 768px) {
  .rewiews .rewiews-content .rewiever-box__item {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 500;
    line-height: 255%;
    text-align: center;
    width: 188px;
  }
}

.locations .locations-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.locations .locations-content .examples {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1200px) {
  .locations .locations-content .examples {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .locations .locations-content .examples {
    flex-wrap: wrap;
  }
}
.locations .locations-content .examples .example {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  background-color: rgb(255, 255, 255);
  padding: 50px 45px;
}
@media (max-width: 1200px) {
  .locations .locations-content .examples .example {
    padding: 50px 30px;
  }
}
@media (max-width: 768px) {
  .locations .locations-content .examples .example {
    padding: 45px 20px;
  }
}
.locations .locations-content .examples .example__type {
  color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  border-radius: 6px;
  background-color: rgb(240, 209, 165);
  text-transform: uppercase;
  padding: 2px 20px;
}
@media (max-width: 768px) {
  .locations .locations-content .examples .example__type {
    padding: 0px 20px;
    color: rgb(255, 255, 255);
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 500;
  }
}
.locations .locations-content .examples .example .green {
  background: rgb(194, 226, 151);
}
.locations .locations-content .examples .example__title {
  color: rgb(0, 0, 0);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  margin-top: 32px;
}
@media (max-width: 1200px) {
  .locations .locations-content .examples .example__title {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .locations .locations-content .examples .example__title {
    margin-top: 25px;
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 500;
  }
}
.locations .locations-content .examples .example__item {
  color: rgb(144, 126, 130);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 183%;
  width: 243px;
  border-bottom: 1px solid rgb(225, 225, 225);
  padding-bottom: 32px;
}
@media (max-width: 1200px) {
  .locations .locations-content .examples .example__item {
    width: 145px;
    color: rgb(144, 126, 130);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .locations .locations-content .examples .example__item {
    color: rgb(144, 126, 130);
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 500;
    width: 180px;
    padding-bottom: 25px;
  }
}
.locations .locations-content .examples .example__time {
  color: rgb(0, 0, 0);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  padding-top: 32px;
}
@media (max-width: 1200px) {
  .locations .locations-content .examples .example__time {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
    padding-top: 16px;
  }
}
@media (max-width: 768px) {
  .locations .locations-content .examples .example__time {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 500;
    padding-top: 25px;
  }
}
.locations .locations-content .examples .example__clock {
  color: rgb(255, 165, 186);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
}
@media (max-width: 1200px) {
  .locations .locations-content .examples .example__clock {
    color: rgb(255, 165, 186);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .locations .locations-content .examples .example__clock {
    color: rgb(255, 165, 186);
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 500;
  }
}
.locations .locations-content .examples .example .bottom {
  padding-bottom: 32px;
}
@media (max-width: 768px) {
  .locations .locations-content .examples .example .bottom {
    padding-bottom: 25px;
  }
}
.locations .locations-content .examples .example__footer {
  color: rgb(144, 126, 130);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 183%;
  width: 243px;
  padding-top: 32px;
  border-top: 1px solid rgb(225, 225, 225);
}
@media (max-width: 1200px) {
  .locations .locations-content .examples .example__footer {
    color: rgb(144, 126, 130);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
    width: 157px;
  }
}
@media (max-width: 768px) {
  .locations .locations-content .examples .example__footer {
    color: rgb(144, 126, 130);
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 500;
    width: 180px;
  }
}
.locations .locations-content .locations-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 90px;
}
@media (max-width: 1200px) {
  .locations .locations-content .locations-buttons {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  .locations .locations-content .locations-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    gap: 10px;
  }
}
.locations .locations-content .locations-buttons__item:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 22px;
  background-color: rgb(212, 19, 66);
  color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  border: none;
  padding: 12px 35px;
}
.locations .locations-content .locations-buttons__item:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 22px;
  background-color: white;
  color: red;
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  border: none;
  padding: 12px 35px;
}

.locations-rev {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, white 65%, rgb(255, 245, 246) 20%);
}
@media (max-width: 1200px) {
  .locations-rev {
    background: linear-gradient(to bottom, white 61%, rgb(255, 245, 246) 20%);
  }
}
@media (max-width: 768px) {
  .locations-rev {
    background: linear-gradient(to bottom, white 38%, rgb(255, 245, 246) 20%);
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
  width: 1280px;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
.carousel-control-prev-icon {
  background-color: gray;
}

.carousel-control-prev {
  left: 0;
  top: 0;
  bottom: 0;
}

.carousel-control-next {
  right: 10px;
  top: 0;
  bottom: 0;
}

.carousel-control-next-icon {
  background-color: gray;
}

@media (max-width: 768px) {
  .container {
    width: 480px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}
.footer-content__item--mobile {
  display: none;
}
@media (max-width: 768px) {
  .footer-content__item--mobile {
    display: flex;
    justify-content: center;
    color: rgb(144, 126, 130);
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    margin-top: 45px;
    padding-top: 25px;
    border-top: 1px solid rgb(225, 225, 225);
  }
}

.carousel {
  margin: 0px auto;
  padding: 0px 15px;
  width: 100%;
}
@media (max-width: 1200px) {
  .carousel {
    width: 100%;
  }
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

.navbar-toggler-icon {
  display: none;
}
@media (max-width: 1200px) {
  .navbar-toggler-icon {
    display: block;
    width: 20px;
    height: 12px;
  }
}

.navbar-toggler {
  border: none;
}

.fixed-top {
  position: static;
  fill: red;
}

.navbar-toggler:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.offcanvas-backdrop {
  z-index: 3;
}

.offcanvas {
  background: rgb(225, 121, 146);
}

.offcanvas-body {
  padding: 0px;
}

@media (max-width: 1200px) {
  .burger-button {
    display: flex;
    justify-self: center;
    align-items: center;
    color: rgb(212, 20, 67);
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    padding: 10px 40px;
    border-radius: 22px;
    background: rgb(255, 255, 255);
    border: none;
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .burger-button {
    padding: 10px 60px;
  }
}

.burger-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
}
.burger-nav__item {
  color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  border: 1px solid rgb(225, 130, 152);
  transition: color 0.3s ease;
  width: 100%;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  .burger-nav__item {
    padding-left: 20px;
  }
}
.burger-nav__item:hover {
  color: rgb(212, 20, 67);
}
